header {
  height: 100px;
  background-color: #FFF;
  position: relative;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  width: 100%;
  padding: 0 30px;
}
header  h1 {
  margin: 0;
  color: #333;
  font-size: 45px;
  top: 5px;
  width: 442px;
  white-space: nowrap;
  }

header .back-arrow {
  font-size: 55px;
  width: 100px;
  text-align: center;
  color: #333;
  z-index: 2;
  display: table-cell;
  vertical-align: middle;
  padding-right: 0px;
}

.back-arrow:hover {
  color: #ddd;
}

img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100px;
}

header div {
  height: inherit;
}

.pull-right {
  width: 100%;
}

.search {
  display: inline-block;
  width: 100%;
  max-width: 700px;
  margin: 0 4rem;
  height: inherit;
}

.categories{
  color: #333;
  line-height: 1rem;
}

.sidenav-trigger {
  align-self: flex-end;
  color: #333;
}

.categories p {
  font-style: italic;
  position: relative;
  font-size: 14px;
  margin: 0;
  align-self: flex-start;
}

.categories .valign-wrapper {
  flex-wrap: wrap;
  justify-content: center;
}

.collapsible {
  font-size: 1.25rem;
}

.collapsible-header {
  border-bottom: 1px solid #ddd;
  min-height: 49px;
}

.collapsible-body {
  padding: 0 30px;
}

@media screen and (min-width: 1500px) {
  .search {
    margin-right: 10rem;
    margin-left: auto;
  }
}
