<header class="valign-wrapper">
  <i (click)="goBack()" class="back-arrow material-icons">arrow_back</i>
  <h1 routerLink="/categories" routerLinkActive="active">Homelegance Furniture</h1>
  <app-search class="search"></app-search>
  <div class="categories center-align">
    <div class="valign-wrapper" style="width: 90px;">
      <a data-target="slide-out" class="sidenav-trigger"><i class="material-icons small">menu</i></a>
      <p>Categories</p>
    </div>
  </div>
</header>

<ul id="slide-out" class="sidenav">
  <li><h2 class="center-align">Categories</h2></li>
  <ul class="collapsible">
    <li *ngFor="let category of generateArray(navSubCategories)">
      <div class="collapsible-header">{{category[0] | titlecase}} <i class="material-icons">arrow_drop_down</i></div>
      <div class="collapsible-body">
        <ul>
          <li routerLink="{{category[0]}}"><span>All</span></li>
          <li *ngFor="let sub of category[1]" (click)="goTo(sub['id'])"><span>{{sub["name"]}}</span></li>
        </ul>
      </div>
    </li>
    <li routerLink="occasional" class="valign-wrapper occasional">Occasional</li>
  </ul>
</ul>

<!-- <div id="nav-bar" class="category-menu">
  <div class="category-header">
    <h2>Categories</h2>
    <button (click)="closeNav()" type="button" class="close">&times;</button>
  </div>
  <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li *ngFor="let category of generateArray(navSubCategories)">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{category[0] | titlecase}}<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li (click)="closeNav()" routerLink="{{category[0]}}"><a>All</a></li>
          <li (click)="closeNav()" (click)="goTo(sub['id'])" *ngFor="let sub of category[1]"><a>{{sub["name"]}}</a></li>
        </ul>
      </li>
      <li (click)="closeNav()" routerLink="occasional"><a>Occasional</a></li>
    </ul>
  </div>
  <ul style="list-style: none;display: none;">
  </ul>
</div> -->

<div (click)="closeNav()" id="overlay" class="overlay"></div>
