<div class="row">
    <div class="product-details col l5 xl5">
    <img src="{{product?.thumbnail}}" (click)="openModal()" class="z-depth-3 responsive-img thumbnail product-image">
    <img src="{{images[0]}}" (click)="openModal()" class="z-depth-3 responsive-img img-large product-image">

      <div class="valign-wrapper">
        <form id="email-form">
          <div class="input-field">
            <input name="email" type="email" [value]="email" (input)="email = $event.target.value" placeholder="Send To Email">
            <button (click)="sendEmail(email)" class="btn btn-info btn-lg">Submit</button>
          </div>
        </form>
        <p id="email-confirmation">Thank you! Your email has been sent to {{email}}.</p>
      </div>
    </div>

    <div class="col l7 xl7 product-info">
      <div class="col m12 s6">
        <h1>{{(product)?.name}}</h1>
        <h3>Product Number: {{(product)?.number}}</h3>
        <p class="flow-text">{{(product)?.description}}</p>
        <hr>
      </div>

      <div class="col m12 s6 item-pick">
        <h2 class="text-center">Pick Your Items</h2>
        <table>
          <tr>
            <th>Item</th>
            <th>Dimensions</th>
            <th>In Stock?</th>
            <th colspan="2">Price</th>
          </tr>
          <tr *ngFor="let item of productItems">
            <td>{{item.description}}</td>
            <td>{{item.dimensions}}</td>
            <td [class]="item.canSellClass()">{{item.canSell()}}</td>
            <td *ngIf="item.price">{{item.price | currency:'USD':true}}</td>
            <td *ngIf="item.price" class="input-field">
              <li class="active" (click)="dropDown($event)">{{item.numberSelected}}</li>
              <ul>
                <li value="0" (click)="selectNumber($event, item)">0</li>
                <li value="1" (click)="selectNumber($event, item)">1</li>
                <li value="2" (click)="selectNumber($event, item)">2</li>
                <li value="3" (click)="selectNumber($event, item)">3</li>
                <li value="4" (click)="selectNumber($event, item)">4</li>
                <li value="5" (click)="selectNumber($event, item)">5</li>
                <li value="6" (click)="selectNumber($event, item)">6</li>
                <li value="7" (click)="selectNumber($event, item)">7</li>
                <li value="8" (click)="selectNumber($event, item)">8</li>
              </ul>
              <i class="material-icons">arrow_drop_down</i>
            </td>
          </tr>
        </table>
        <h2 id="total">Total: {{total | currency:'USD':true}}</h2>
      </div>
    </div>
</div>


<!-- Modal Trigger -->

<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <div class="carousel carousel-slider" style="min-height: 90vh;">
      <img *ngFor="let image of images" src="{{image}}" class="responsive-img carousel-item">
    </div>
  </div>
</div>
