.product-image {
  margin: 0 auto;
  display: block;
  width: 100%;
}

.product-info h1 {
  font-size: 3.6em;
  margin: 0 auto 20px auto;
}

.product-info h3 {
  font-size: 2.1em;
  margin: 20px auto;
}

.product-info p {
  font-size: 1.6em;
}

table {
  margin: 0 auto;
  width: 100%;
}
table th {
  width: 25%;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

td {
  width: 25%;
  text-align: left;
  font-size: 16px;
}

#total {
  border-bottom: 1px solid #333;
  font-family: 'Raleway', sans-serif !important;
}

.item-pick {
  margin-bottom: 50px;
}

#edit-table {
  display: none;
}

#edit-submit {
  display: none;
}

.input-field {
  position: relative;
}

.input-field ul {
  display: none;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
  background-color: #fff;
  transition: top .3s ease;
}

.input-field ul.active {
  box-shadow: 1px 1px 10px rgba(0,0,0,0.5), 1px -1px 10px rgba(0,0,0,0.5);
  display: block;
  bottom: 0;
}

.input-field li {
  padding: 10px;
  font-size: 18px;
  border-bottom: 1px solid #777;
  text-align: left;
  list-style: none;
}

.input-field li.active {
  display: block;
  padding-left: 0;
}

.input-field .glyphicon.glyphicon-triangle-bottom {
  position: absolute;
  right: 10px;
  top: auto;
  bottom: 15px;
  height: 10px;
}

#email-form {
  margin-top: 50px;
}

#email-form .input-field {
  position: relative;
}

#email-form input{
  min-width: 300px;
  height: 50px;
  border: none;
  border-bottom: 1px solid #000;
  font-family: inherit;
  position: relative;
  background: transparent;
  font-size: 24px;
}

#email-confirmation {
  display: none;
}

#imageModal {
  text-align: center;
  overflow-y: hidden;
}

#imageModal .modal-dialog{
  width: auto;
  margin: 0;
  display: inline-block;
}

#imageModal img {
  height: 100vh;
  width: auto;
}



.arrow-wrapper-right, .arrow-wrapper-left {
  position: fixed;
  color: #000;
  z-index: 2;
  font-size: 90px;
  top: 50%;
  transform: translateY(-50%);
}

.arrow-wrapper-left {
  left: 0;
}

.arrow-wrapper-right {
  right: 0;
}

.glyphicon-chevron-left, .glyphicon-chevron-right {
  background-color: #fff;
  padding: 20px;
  border-radius: 100%;
  border: 5px solid #000;
}
