.arrow-wrapper-right, .arrow-wrapper-left {
  position: absolute;
  color: #222;
  z-index: 2;
  top: calc(50% - 33px);
  transform: translateY(-50%);
}

.arrow-wrapper-left {
  left: -10px;
}

.arrow-wrapper-right {
  right: -10px;
}

i {
  font-size: 4rem;
  background-color: #fff;
  padding: 10px;
  border-radius: 100%;
  border: 5px solid #222;
}

.carousel {
  height: 100%;
}

.carousel-inner {
  height: 76vh;
}
