<div class="products">
  <div class="carousel carousel-slider center">
    <!-- <div class="carousel-fixed-item center">
    </div> -->
    <div class="carousel-item" href="#one!">
      <div class="row">
        <div class="col s4 product" routerLink="/sub-categories/dining" routerLinkActive="active">
          <div class="image-wrapper">
            <img src="{{dining}}">
            <div class="info valign-wrapper">
              <h5 class="flow-text truncate">Dining</h5>
            </div>
          </div>
        </div>
        <div class="col s4 product" routerLink="/occasional" routerLinkActive="active">
          <div class="image-wrapper">
            <img src="{{occasional}}">
            <div class="info valign-wrapper">
              <h5 class="flow-text truncate">Occasional</h5>
            </div>
          </div>
        </div>
        <div class="col s4 product" routerLink="/sub-categories/home" routerLinkActive="active">
          <div class="image-wrapper">
            <img src="{{home}}">
            <div class="info valign-wrapper">
              <h5 class="flow-text truncate">Home</h5>
            </div>
          </div>
        </div>
        <div class="col s4 product" routerLink="/sub-categories/bedroom" routerLinkActive="active">
          <div class="image-wrapper">
            <img src="{{bedroom}}">
            <div class="info valign-wrapper">
              <h5 class="flow-text truncate">Bedroom</h5>
            </div>
          </div>
        </div>
        <div class="col s4 product" routerLink="/sub-categories/seating" routerLinkActive="active">
          <div class="image-wrapper">
            <img src="{{seating}}">
            <div class="info valign-wrapper">
              <h5 class="flow-text truncate">Seating</h5>
            </div>
          </div>
        </div>
        <div class="col s4 product" routerLink="/sub-categories/youth" routerLinkActive="active">
          <div class="image-wrapper">
            <img src="{{youth}}">
            <div class="info valign-wrapper">
              <h5 class="flow-text truncate">Youth</h5>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="carousel-item" href="#two!">
    <div class="row">
      <div class="col s4 product" routerLink="/new-arrivals" routerLinkActive="active">
        <div class="image-wrapper">
          <img src="{{newArrivals}}">
          <div class="info valign-wrapper">
            <h5 class="flow-text truncate">New Arrivals</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <nav aria-label="Page navigation" class="text-center">
  <ul class="pagination">
    <li data-slide="prev" data-target="#category_carousel" (click)="previousPage()">
      <a><span aria-hidden="true">&laquo;</span></a>
    </li>
    <li [class.active]="compare(1)" (click)="setPage(1)" data-target="#category_carousel" data-slide-to="0"><a>1</a></li>
    <li [class.active]="compare(2)" (click)="setPage(2)" data-target="#category_carousel" data-slide-to="1"><a>2</a></li>
    <li data-slide="next" data-target="#category_carousel" (click)="nextPage()">
      <a><span aria-hidden="true">&raquo;</span></a>
    </li>
  </ul>
</nav> -->
