header {
  height: 100px;
  background-color: #333;
  position: relative;
  margin-bottom: 20px;
}
header  h1 {
    margin: 0;
    color: #fff;
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
header ul {
  position: absolute;
  z-index: 1;
  right: 20px;
  height: 100%;
  top: 0;
  }
header li {
  height: 100%;
  position: relative;
  width: 100px;
  display: inline-block;
}
header li.active {
  background-color: #666;
}
header li:focus {
  outline: transparent;
}
header li p{
  color: #fff;
  font-size: 16px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .glyphicon-arrow-left {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: #fff;
  z-index: 2;
}

.glyphicon-arrow-left:hover {
  color: #ddd;
}

img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100px;
}
