<header>
  <span (click)="goBack()" class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
  <h1 class="text-center">Browse {{category}}</h1>
  <ul style="list-style: none">
    <li routerLink="dining" routerLinkActive="active">
      <p>Dining</p>
    </li>
    <li routerLink="bedroom" routerLinkActive="active">
      <p>Bedroom</p>
    </li>
    <li routerLink="seating" routerLinkActive="active">
      <p>Seating</p>
    </li>
  </ul>
</header>
<div style="padding: 30px">
  <router-outlet></router-outlet>
</div>
