body {
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
  font-family: 'Open Sans', sans-serif;
}

header {
  height: 70px;
  background-color: #333;
  position: relative;
  margin-bottom: 10px;
}
header  h1 {
    margin: 0;
    color: #fff;
    position: relative;
    padding-top: 10px;
  }
header ul {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  right: 20px;
}
header li a{
  color: #fff;
  font-size: 16px;
}
header li a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #fff;
}
.glyphicon-arrow-left {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: #fff;
  z-index: 2;
}
.glyphicon-arrow-left:hover {
  color: #ddd;
}

.pagination {
  margin: 0;
}

.pagination > .active > a {
  color: #fff;
  background-color: #333;
  border-color: #333;
}

.pagination > li > a {
  color: #333;
  border-color: #333;
}
.pagination > li > a:hover {
  border-color: #333;
}

.product {
  position: relative;
  margin-bottom: 20px;
  height: 33vh;
  overflow: hidden;
  box-sizing: border-box;
}

.image-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.product img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.product .info {
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  padding: 0 10px;
  text-align: center;
  position: absolute;
  bottom: 0;
  height: 60px;
}

.product .info p {
  color: #fff;
  font-size: 20px;
  padding: 10px;
}

.arrow-wrapper-right, .arrow-wrapper-left {
  position: fixed;
  color: #000;
  z-index: 2;
  font-size: 90px;
  top: 50%;
  transform: translateY(-50%);
}

.arrow-wrapper-left {
  left: 0;
}

.arrow-wrapper-right {
  right: 0;
}

.glyphicon-chevron-left, .glyphicon-chevron-right {
  background-color: #fff;
  padding: 20px;
  border-radius: 100%;
  border: 5px solid #000;
}
