.glyphicon-arrow-left {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: #fff;
  z-index: 2;
}
.glyphicon-arrow-left:hover {
  color: #ddd;
}

.pagination {
  margin: 0;
}

.pagination > .active > a {
  color: #fff;
  background-color: #333;
  border-color: #333;
}

.pagination > li > a {
  color: #333;
  border-color: #333;
}
.pagination > li > a:hover {
  border-color: #333;
}

.arrow-wrapper-right, .arrow-wrapper-left {
  position: fixed;
  color: #222;
  z-index: 2;
  font-size: 90px;
  top: 50%;
  transform: translateY(-50%);
}

.arrow-wrapper-left {
  left: 0;
}

.arrow-wrapper-right {
  right: 0;
}

.glyphicon-chevron-left, .glyphicon-chevron-right {
  background-color: #fff;
  padding: 20px;
  border-radius: 100%;
  border: 5px solid #222;
}

.carousel {
  height: 100%;
  min-height: 66vh;
}
