<div *ngIf="!noProducts">
  <div class="products">
    <div *ngIf="products.length === pages" class="carousel carousel-slider">
      <!-- <div class="carousel-fixed-item center">
      </div> -->
      <div class="carousel-item" *ngFor="let page of products; let i = index;" id="page{{i}}">
        <div *ngIf="shouldDisplay(i)" class="row">
          <div class="product col s4" *ngFor="let product of page" (click)="goToDetail(product)">
            <div class="image-wrapper">
              <img *ngIf="product['thumbnail']" src="{{product['thumbnail']}}" alt="" class="product-image">
              <div class="info">
                <h5>{{product["name"]}}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="noProducts">
  <h1 class="text-center">Sorry, no products match that criteria</h1>
</div>
