<div class="products clearfix">
  <div routerLink="/{{category}}" *ngIf="pagenumber == 1" class="col-xs-4 product">
    <div class="image-wrapper">
      <img src="{{getSubCategoryThumbnails(category)}}" alt="" class="product-image">
      <div class="info">
        <p>All</p>
      </div>
    </div>
  </div>
  <div class="product col-xs-4" *ngFor="let category of subCategories" routerLink="/products/sub-categories/{{category['id']}}">
    <div class="image-wrapper">
      <img *ngIf="category['thumbnail']" src="{{category['thumbnail']}}" alt="" class="product-image">
      <div class="info">
        <p>{{category["name"]}}</p>
      </div>
    </div>
  </div>
</div>
<nav *ngIf="pages > 1" aria-label="Page navigation" class="text-center">
  <ul class="pagination">
    <li (click)="previousPage()">
      <a><span aria-hidden="true">&laquo;</span></a>
    </li>
    <li *ngFor="let pagenumber of createRange(pages)" [ngClass]="compare(pagenumber)" (click)="setPage(pagenumber)">
      <a>{{pagenumber}}</a>
    </li>
    <li (click)="nextPage()">
      <a><span aria-hidden="true">&raquo;</span></a>
    </li>
  </ul>
</nav>
