<div class="products">
  <div class="arrow-wrapper-left valign-wrapper" (click)="previousPage()">
    <i class="material-icons">chevron_left</i>
  </div>
  <div class="arrow-wrapper-right" (click)="nextPage()">
    <i class="material-icons">chevron_right</i>
  </div>
  <div class="carousel carousel-slider">
    <div class="carousel-item" *ngFor="let page of subCategories; let i = index;" id="page{{i}}">
      <div class="row">
        <div routerLink="/{{category}}" *ngIf="i === 0" class="col s4 product">
          <div class="image-wrapper">
            <img src="{{getSubCategoryThumbnails(category)}}" alt="" class="product-image">
            <div class="info valign-wrapper">
              <h5>All</h5>
            </div>
          </div>
        </div>
        <div class="product col s4" *ngFor="let category of page" routerLink="/products/sub-categories/{{category['id']}}">
          <div class="image-wrapper">
            <img *ngIf="category['thumbnail']" src="{{category['thumbnail']}}" alt="" class="product-image">
            <div class="info valign-wrapper">
              <h5>{{category["name"]}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
