form {
  height: 100%;
}

.input-field {
  flex-grow: 1;
  align-self: center;
  margin: 0;
}

input {
  padding-left: 2rem !important;
  width: calc(100% - 2rem) !important;
}

.input-group-addon {
  background-color: #fff;
  border: none;
  font-size: 20px;
}

.modal-body form {
  width: 100%;
}

.modal-body input {
  width: 80%;
}

button {
  margin-left: 1rem;
}

.modal-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #659DBD;
  color: #eee;
}
