#nav-bar {
  display: none;
}

body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
}

.splash {
  position: absolute;
  left: -1%;
  top: 0;
  height: 100%;
  width: 102%;
  background: url('https://s3-us-west-1.amazonaws.com/homelegance/Images_MidRes_For+Customer+Advertisement/2159-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(55%) blur(2px);

}

.logo {
  position: absolute;
  left: 20px;
  top: 20px;
  color: #f2f2f2;
  font-family: 'Raleway', serif;
  font-size: 70px;
  border-radius: 50%;
  width: 150px;
}

.welcome {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: 'Josefin Slab', serif;
  font-size: 80px;
  display: block;
  text-align: center;
  opacity: 1;
  animation-name: fadein;
  animation-duration: 4s;
}

.touch {
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: 'Josefin Slab', serif;
  font-size: 60px;
  display: block;
  text-align: center;
  animation-name: fadein2;
  animation-duration: 4s;
}

@keyframes fadein {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadein2 {
  0% {opacity: 0;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}
