<div class="col-lg-4 product" routerLink="sub-categories/dining" routerLinkActive="active">
  <div class="image-wrapper">
    <img src="{{dining}}">
    <div class="info">
      <p>Dining</p>
    </div>
  </div>
</div>
<div class="col-lg-4 product" routerLink="sub-categories/occasional" routerLinkActive="active">
  <div class="image-wrapper">
    <img src="{{occasional}}">
    <div class="info">
      <p>Occasional</p>
    </div>
  </div>
</div>
<div class="col-lg-4 product" routerLink="sub-categories/home" routerLinkActive="active">
  <div class="image-wrapper">
    <img src="{{home}}">
    <div class="info">
      <p>Home</p>
    </div>
  </div>
</div>
<div class="col-lg-4 product" routerLink="sub-categories/bedroom" routerLinkActive="active">
  <div class="image-wrapper">
    <img src="{{bedroom}}">
    <div class="info">
      <p>Bedroom</p>
    </div>
  </div>
</div>
<div class="col-lg-4 product" routerLink="sub-categories/seating" routerLinkActive="active">
  <div class="image-wrapper">
    <img src="{{seating}}">
    <div class="info">
      <p>Seating</p>
    </div>
  </div>
</div>
<div class="col-lg-4 product" routerLink="sub-categories/youth" routerLinkActive="active">
  <div class="image-wrapper">
    <img src="{{youth}}">
    <div class="info">
      <p>Youth</p>
    </div>
  </div>
</div>
